body{
  background-color: rgb(194, 194, 194);
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1:hover{
  color: blue;
  cursor: pointer;
  transition-duration: 0.3s;
}
h2{
  padding-top: 20px;
}

h4{
  color:white;
  text-shadow: 
		-0   -1px 0   #000000,
		 0   -1px 0   #000000,
		-0    1px 0   #000000,
		 0    1px 0   #000000,
		-1px -0   0   #000000,
		 1px -0   0   #000000,
		-1px  0   0   #000000,
		 1px  0   0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000;
}

.content{
  background-color: rgb(167, 167, 167);
  padding: 30px;
}

.nav-link{
	background-color: #7f9e9e;
	border: 1px solid #5c6268;
}

.nav-link:hover{
	background-color: #4f5357;
	transition-duration: 0.5s;
}

@media(min-width: 768px){
.navbar-toggler{
	display: none;
}
}